<ion-header>
  <ion-toolbar>
    <ion-title text-center class="oleo-script">PIBB_APP</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only">
        <ion-icon name="Camera"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">    
          <ion-tab-button tab="home">
            <ion-label>Home</ion-label>
            <ion-icon name="home"></ion-icon>
            <ion-badge>6</ion-badge>
          </ion-tab-button>
          <ion-tab-button tab="search">
              <ion-label>Search</ion-label>
              <ion-icon name="search"></ion-icon>
           </ion-tab-button>                
          <ion-tab-button tab="add-circle">
              <ion-label>Add</ion-label>
              <ion-icon name="add-circle"></ion-icon>
           </ion-tab-button>      
          <ion-tab-button tab="heart">
            <ion-label>Heart</ion-label>
            <ion-icon name="heart"></ion-icon>
          </ion-tab-button>     
          <ion-tab-button tab="contact">
              <ion-label>contact</ion-label>
              <ion-icon name="contact"></ion-icon>
            </ion-tab-button>          
        </ion-tab-bar>
      </ion-tabs>
</ion-content>
